body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(186, 214, 186);
  }
  
  .calculator {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(49, 47, 47);
  }
  .container-input {
    display: flex;
    flex-direction: row;
    
  }
  .digits {
    display: flex;
    flex-direction: column;
  }
  .digits div {
    display: flex;
    flex-direction: row;
  }
  
  .display {
    text-align: right;
    padding: 10px;
    font-size: 24px ;
    color: black;
    background-color: #878882e7;
    border: 5px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  button {
    width: 80px;
    height: 80px;
    border-radius: 8%;
  }
  .clear {
    width:160px
  }
  .zero {
    width: 160px;
  }
  .orange{
    background-color: orange;
  }
  .blue{
    background-color: rgb(59, 181, 238);
  }
.container{
  background-color: black;
}
.number{
  background-color: rgba(50, 151, 146, 0.856);
}