body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(186, 214, 186);
  }
  
  .calculator {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(49, 47, 47);
  }
  .container-input {
    display: flex;
    flex-direction: row;
    
  }
  .digits {
    display: flex;
    flex-direction: column;
  }
  .digits div {
    display: flex;
    flex-direction: row;
  }
  
  .display {
    text-align: right;
    padding: 10px;
    font-size: 24px ;
    color: black;
    background-color: #878882e7;
    border: 5px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  button {
    width: 80px;
    height: 80px;
    border-radius: 8%;
    font-size:2em;
    font-family: monospace;
    font-weight: bold;
    border: 2px solid black;
  }
  .clear {
    width:160px;
    background-color: rgb(132, 32, 32);
  }
  .zero {
    width: 160px;
    background-color: rgb(41, 41, 121);
  }
  .orange{
    background-color: #FF8F1F;
  }
  .blue{
    background-color: dodgerblue;
  }
.container{
  background-color: black;
  
}
.number{
  background-color: #217C7E;
}
.backspace {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
